# US_Crime_Rates_1960_2014数据 - 函数

![](https://github.com/tim530712345/20210626/blob/main/images/4.jpeg?raw=1)

### 导入数据

In [2]:
import pandas as pd

In [5]:
crime = pd.read_csv('US_Crime_Rates_1960_2014.csv')
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

### 将Year的数据类型转换为 datetime64  显示格式为年

In [8]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.Year.head(3)

0   1960-01-01
1   1961-01-01
2   1962-01-01
Name: Year, dtype: datetime64[ns]

In [10]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.3 KB

### 将列Year设置为数据框的索引

In [ ]:
crime = crime.set_index('Year', drop=True) # drop 是否删除该欄位，默认为True
crime.head(3)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

### 删除名为Total的列

In [ ]:
del crime['Total']
crime.head(3)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

### 按照Year对数据框进行分组并求和

In [ ]:
# 关于 .resample 的介绍
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
# https://blog.csdn.net/wangshuang1631/article/details/52314944
# 更多关于 Offset Aliases的介绍 (偏移量的別名)
# (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

# AS = YS = year start
# 10AS = 以10年为周期执行重采样，获取每个10年的犯罪率
# 10年的重采样求和就是做10年数据的累加
crimes = crime.resample('10AS').sum()

# 10年的犯罪数可以累加，但是人口累加没有意义
# 用resample去得到“Population”列的最大值
# 
population = crime['Population'].resample('10AS').max()

# 更新 "Population" 
crimes['Population'] = population

crimes

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,201385000.0,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970-01-01,220099000.0,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980-01-01,248239000.0,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990-01-01,272690813.0,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000-01-01,307006550.0,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010-01-01,318857056.0,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080
2020-01-01,NaN,0,0,0,0,0,0,0,0,0

### 何时是美国历史上生存最危险的年代？

In [11]:
# 重新讀取
crime = pd.read_csv('US_Crime_Rates_1960_2014.csv')
crime = crime.set_index('Year', drop=True)
crime.idxmax(0) # 欄位中最大值所對應的索引值

Population            2014
Total                 1991
Violent               1992
Property              1991
Murder                1991
Forcible_Rape         1992
Robbery               1991
Aggravated_assault    1993
Burglary              1980
Larceny_Theft         1991
Vehicle_Theft         1991
dtype: int64

In [12]:
crime

      Population     Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1960   179323175   3384200   288460  ...    912100        1855400         328200
1961   182992000   3488000   289390  ...    949600        1913000         336000
1962   185771000   3752200   301510  ...    994300        2089600         366800
1963   188483000   4109500   316970  ...   1086400        2297800         408300
1964   191141000   4564600   364220  ...   1213200        2514400         472800
1965   193526000   4739400   387390  ...   1282500        2572600         496900
1966   195576000   5223500   430180  ...   1410100        2822000         561200
1967   197457000   5903400   499930  ...   1632100        3111600         659800
1968   199399000   6720200   595010  ...   1858900        3482700         783600
1969   201385000   7410900   661870  ...   1981900        3888600         878500
1970   203235298   8098000   738820  ...   2205000        4225800         928400
1971   206212000   8588200   816500  ...   2399300        4424200         948200
1972   208230000   8248800   834900  ...   2375500        4151200         887200
1973   209851000   8718100   875910  ...   2565500        4347900         928800
1974   211392000  10253400   974720  ...   3039200        5262500         977100
1975   213124000  11292400  1039710  ...   3265300        5977700        1009600
1976   214659000  11349700  1004210  ...   3108700        6270800         966000
1977   216332000  10984500  1029580  ...   3071500        5905700         977700
1978   218059000  11209000  1085550  ...   3128300        5991000        1004100
1979   220099000  12249500  1208030  ...   3327700        6601000        1112800
1980   225349264  13408300  1344520  ...   3795200        7136900        1131700
1981   229146000  13423800  1361820  ...   3779700        7194400        1087800
1982   231534000  12974400  1322390  ...   3447100        7142500        1062400
1983   233981000  12108600  1258090  ...   3129900        6712800        1007900
1984   236158000  11881800  1273280  ...   2984400        6591900        1032200
1985   238740000  12431400  1328800  ...   3073300        6926400        1102900
1986   240132887  13211869  1489169  ...   3241410        7257153        1224137
1987   242282918  13508700  1483999  ...   3236184        7499900        1288674
1988   245807000  13923100  1566220  ...   3218100        7705900        1432900
1989   248239000  14251400  1646040  ...   3168200        7872400        1564800
1990   248709873  14475600  1820130  ...   3073900        7945700        1635900
1991   252177000  14872900  1911770  ...   3157200        8142200        1661700
1992   255082000  14438200  1932270  ...   2979900        7915200        1610800
1993   257908000  14144800  1926020  ...   2834800        7820900        1563100
1994   260341000  13989500  1857670  ...   2712800        7879800        1539300
1995   262755000  13862700  1798790  ...   2593800        7997700        1472400
1996   265228572  13493863  1688540  ...   2506400        7904700        1394200
1997   267637000  13194571  1634770  ...   2460526        7743760        1354189
1998   270296000  12475634  1531044  ...   2329950        7373886        1240754
1999   272690813  11634378  1426044  ...   2100739        6955520        1152075
2000   281421906  11608072  1425486  ...   2050992        6971590        1160002
2001   285317559  11876669  1439480  ...   2116531        7092267        1228391
2002   287973924  11878954  1423677  ...   2151252        7057370        1246646
2003   290690788  11826538  1383676  ...   2154834        7026802        1261226
2004   293656842  11679474  1360088  ...   2144446        6937089        1237851
2005   296507061  11565499  1390745  ...   2155448        6783447        1235859
2006   299398484  11401511  1418043  ...   2183746        6607013        1192809
2007   301621157  11251828  1408337  ...   2176140        6568572        1095769
2008   304374846  11160543  1392628  ...   2228474        6588046         958629
2009   307006550  10762956  1325896  ...   2203313        6338095         795652
2010   309330219  10363873  1251248  ...   2168457        6204601         739565
2011   311587816  10258774  1206031  ...   2185140        6151095         716508
2012   313873685  10219059  1217067  ...   2109932        6168874         723186
2013   316497531   9850445  1199684  ...   1931835        6018632         700294
2014   318857056   9475816  1197987  ...   1729806        5858496         689527

[55 rows x 11 columns]